<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" href="/static/gui/styles.css">
        <script src="/static/modules/jquery-3.7.1.min.js"></script>
        <script src="/static/modules/apexcharts.js"></script>
    </head>
    <body>
        <div class="text">Hello world!</div>
        <div class="graph"></div>
        <button>I'm a Button</button>

        <script type="text/javascript" src="/static/gui/script.js"></script>
        <script type="text/javascript" src="/static/gui/ajax.js"></script>
    </body>
</html>