<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" href="/static/gui/styles.css">
    </head>
    <body>
        <div class="text">Hello world!</div>
        <div id="graph_a"></div>
        <button id="button1" onclick="getData()">I'm a Button</button>
        <div id="div1"></div>

        <script src="/static/modules/jquery-3.7.1.min.js"></script>
        <script src="/static/modules/apexcharts.js"></script>
        <script type="text/javascript" src="/static/gui/script.js"></script>
        <script type="text/javascript" src="/static/gui/ajax.js"></script>
    </body>
</html>